<table class="table table-hover">
  <thead>
    <tr>
      <th>申请进度</th>
			<th>当前状态</th>
			<th>贷款金额</th>
      <th>起始日期</th>
			<th>还款日期</th>
			<th></th>
    </tr>
  </thead>
  <tbody>
		<tr>
			<td><%= @cust_loan.current_step %></td>
			<td><%= get_dict_by_id(@cust_loan.status).name %></td>
			<td><%= @cust_loan.loanstepfifths.first.submit_amont if !@cust_loan.loanstepfifths.first.nil? %> 万</td>
			<td><%= @cust_loan.loanstepfours.first.request_date.to_s.to_date if !@cust_loan.loanstepfours.first.nil? %></td>
			<td><%= @cust_loan.end_date.to_s.to_date %></td>
			<td>
				<% if @cust_loan.user == current_user && get_dict_by_id(@cust_loan.status).code == 3 %>
					<p class="text-center"><%= link_to '新放款记录', custloan_loan_step_path(@cust_loan, :nine), :class => 'btn btn-small btn-danger' %></p>
				<% end %>
			</td>
		</tr>
		<tr>
			<td colspan="6">
				<p class="text-center"><%= link_to '详细信息', custloan_path(@cust_loan), :class => 'btn btn-primary' %></p>
			</td>
		</tr>
	</tbody>
</table>