<div class="well">
	<dl class="dl-horizontal">
		<p class="lead text-center"><legend><strong>选择银行</strong></legend></p>
		<dt>担保方式:</dt>
	  <dd><%= get_dict_by_id(@custloan.guarantee_type).name unless @custloan.guarantee_type.nil? %></dd>
		<% if !@custloan.loansteptwos.first.bank.nil? %>
		  <dt>银行:</dt>
		  <dd><%= get_dict_by_id(@custloan.loansteptwos.first.bank).name %></dd>
		<% end %>
		<p class="lead text-center"><legend><strong>借款人</strong></legend></p>
		<p class="text-center"><legend>个人资料</legend></p>
		<% if !@custloan.loansteptwos.first.attachment_file1.blank? %>
		  <dt>本人配偶身份证复印件:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file1], 
										@custloan.loansteptwos.first.attachment_file1.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file2.blank? %>
		  <dt>结婚证:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file2], 
										@custloan.loansteptwos.first.attachment_file2.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file3.blank? %>
		  <dt>户口本（起始页到最后一页）:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file3], 
										@custloan.loansteptwos.first.attachment_file3.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file4.blank? %>
		  <dt>车辆行驶证复印件（如有）:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file4], 
										@custloan.loansteptwos.first.attachment_file4.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file5.blank? %>
		  <dt>房产证复印件:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file5], 
										@custloan.loansteptwos.first.attachment_file5.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file6.blank? %>
		  <dt>个人简历:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file6], 
										@custloan.loansteptwos.first.attachment_file6.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file7.blank? %>
		  <dt>学历证明:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file7], 
										@custloan.loansteptwos.first.attachment_file7.url %>
			</dd>
		<% end %>
		
		<p class="text-center"><legend>公司</legend></p>
		<% if !@custloan.loansteptwos.first.attachment_file11.blank? %>
		  <dt>营业执照:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file11], 
										@custloan.loansteptwos.first.attachment_file11.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file12.blank? %>
		  <dt>税务登记证:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file12], 
										@custloan.loansteptwos.first.attachment_file12.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file13.blank? %>
		  <dt>公司章程:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file13], 
										@custloan.loansteptwos.first.attachment_file13.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file14.blank? %>
		  <dt>验资报告:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file14], 
										@custloan.loansteptwos.first.attachment_file14.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file15.blank? %>
		  <dt>组织机构代码证:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file15], 
										@custloan.loansteptwos.first.attachment_file15.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file16.blank? %>
		  <dt>开户许可证:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file16], 
										@custloan.loansteptwos.first.attachment_file16.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file17.blank? %>
		  <dt>挂名公司名下的房产:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file17], 
										@custloan.loansteptwos.first.attachment_file17.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file18.blank? %>
		  <dt>挂名公司名下的车辆:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file18], 
										@custloan.loansteptwos.first.attachment_file18.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file19.blank? %>
		  <dt>贷款卡:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file19], 
										@custloan.loansteptwos.first.attachment_file19.url %>
			</dd>
		<% end %>
		
		<p class="text-center"><legend>财务</legend></p>
		<% if !@custloan.loansteptwos.first.attachment_file22.blank? %>
		  <dt>近3、6、12个月银行对账单:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file22], 
										@custloan.loansteptwos.first.attachment_file22.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file23.blank? %>
		  <dt>近3、6个月的财务报表及近3年度年报:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file23], 
										@custloan.loansteptwos.first.attachment_file23.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file24.blank? %>
		  <dt>营业场所租赁合同及已付款凭证:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file24], 
										@custloan.loansteptwos.first.attachment_file24.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file25.blank? %>
		  <dt>近3、6、12个月进、销货单:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file25], 
										@custloan.loansteptwos.first.attachment_file25.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file26.blank? %>
		  <dt>本年度进、销货合同或协议:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file26], 
										@custloan.loansteptwos.first.attachment_file26.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file27.blank? %>
		  <dt>近3个月员工工资表:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file27], 
										@custloan.loansteptwos.first.attachment_file27.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file28.blank? %>
		  <dt>最近1个月存货清单:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file28], 
										@custloan.loansteptwos.first.attachment_file28.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file29.blank? %>
		  <dt>设备清单:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file29], 
										@custloan.loansteptwos.first.attachment_file29.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file30.blank? %>
		  <dt>近3、6、12个月税单:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file30], 
										@custloan.loansteptwos.first.attachment_file30.url %>
			</dd>
		<% end %>
		<% if !@custloan.loansteptwos.first.attachment_file31.blank? %>
		  <dt>近3、6、12个月水、电、电话、手机费账单:</dt>
		  <dd>
				<%= link_to @custloan.loansteptwos.first[:attachment_file31], 
										@custloan.loansteptwos.first.attachment_file31.url %>
			</dd>
		<% end %>
	</dl>
	<% if @custloan.guarantee_type == get_dict("guaranteeType", 3).id %>
	<dl class="dl-horizontal">
		<p class="lead text-center"><legend><strong>担保人</strong></legend></p>
		<% @custloan.loansteptwoguarantors.each_with_index do |g,index| %>
		#<%= index + 1 %>
			<fieldset>
				<p class="text-center"><legend>个人资料</legend></p>
				<% if g.attachment_file1? %>
					<dt>本人配偶身份证复印件:</dt>
				  <dd><%= link_to g.attachment_file1.file.filename, g.attachment_file1.url %></dd>
				<% end %>
				<% if g.attachment_file2? %>
					<dt>结婚证:</dt>
				  <dd><%= link_to g.attachment_file2.file.filename, g.attachment_file2.url %></dd>
				<% end %>
				<% if g.attachment_file3? %>
					<dt>户口本（起始页到最后一页）:</dt>
				  <dd><%= link_to g.attachment_file3.file.filename, g.attachment_file3.url %></dd>
				<% end %>
				<% if g.attachment_file4? %>
					<dt>车辆行驶证复印件（如有）:</dt>
				  <dd><%= link_to g.attachment_file4.file.filename, g.attachment_file4.url %></dd>
				<% end %>
				<% if g.attachment_file5? %>
					<dt>房产证复印件:</dt>
				  <dd><%= link_to g.attachment_file5.file.filename, g.attachment_file5.url %></dd>
				<% end %>
				<% if g.attachment_file6? %>
					<dt>个人简历:</dt>
				  <dd><%= link_to g.attachment_file6.file.filename, g.attachment_file6.url %></dd>
				<% end %>
				<% if g.attachment_file7? %>
					<dt>学历证明:</dt>
				  <dd><%= link_to g.attachment_file7.file.filename, g.attachment_file7.url %></dd>
				<% end %>
				<p class="text-center"><legend>公司</legend></p>
				<% if g.attachment_file11? %>
					<dt>营业执照:</dt>
				  <dd><%= link_to g.attachment_file11.file.filename, g.attachment_file11.url %></dd>
				<% end %>
				<% if g.attachment_file12? %>
					<dt>税务登记证:</dt>
				  <dd><%= link_to g.attachment_file12.file.filename, g.attachment_file12.url %></dd>
				<% end %>
				<% if g.attachment_file13? %>
					<dt>公司章程:</dt>
				  <dd><%= link_to g.attachment_file13.file.filename, g.attachment_file13.url %></dd>
				<% end %>
				<% if g.attachment_file14? %>
					<dt>验资报告:</dt>
				  <dd><%= link_to g.attachment_file14.file.filename, g.attachment_file14.url %></dd>
				<% end %>
				<% if g.attachment_file15? %>
					<dt>组织机构代码证:</dt>
				  <dd><%= link_to g.attachment_file15.file.filename, g.attachment_file15.url %></dd>
				<% end %>
				<% if g.attachment_file16? %>
					<dt>开户许可证:</dt>
				  <dd><%= link_to g.attachment_file16.file.filename, g.attachment_file16.url %></dd>
				<% end %>
				<% if g.attachment_file17? %>
					<dt>挂名公司名下的房产:</dt>
				  <dd><%= link_to g.attachment_file17.file.filename, g.attachment_file17.url %></dd>
				<% end %>
				<% if g.attachment_file18? %>
					<dt>挂名公司名下的车辆:</dt>
				  <dd><%= link_to g.attachment_file18.file.filename, g.attachment_file18.url %></dd>
				<% end %>
				<% if g.attachment_file19? %>
					<dt>贷款卡:</dt>
				  <dd><%= link_to g.attachment_file19.file.filename, g.attachment_file19.url %></dd>
				<% end %>
				<p class="text-center"><legend>财务</legend></p>
				<% if g.attachment_file22? %>
					<dt>近3、6、12个月银行对账单:</dt>
				  <dd><%= link_to g.attachment_file22.file.filename, g.attachment_file22.url %></dd>
				<% end %>
				<% if g.attachment_file23? %>
					<dt>近3、6个月的财务报表及近3年度年报:</dt>
				  <dd><%= link_to g.attachment_file23.file.filename, g.attachment_file23.url %></dd>
				<% end %>
				<% if g.attachment_file24? %>
					<dt>营业场所租赁合同及已付款凭证:</dt>
				  <dd><%= link_to g.attachment_file24.file.filename, g.attachment_file24.url %></dd>
				<% end %>
				<% if g.attachment_file25? %>
					<dt>近3、6、12个月进、销货单:</dt>
				  <dd><%= link_to g.attachment_file25.file.filename, g.attachment_file25.url %></dd>
				<% end %>
				<% if g.attachment_file26? %>
					<dt>本年度进、销货合同或协议:</dt>
				  <dd><%= link_to g.attachment_file26.file.filename, g.attachment_file26.url %></dd>
				<% end %>
				<% if g.attachment_file27? %>
					<dt>近3个月员工工资表:</dt>
				  <dd><%= link_to g.attachment_file27.file.filename, g.attachment_file27.url %></dd>
				<% end %>
				<% if g.attachment_file28?%>
					<dt>最近1个月存货清单:</dt>
				  <dd><%= link_to g.attachment_file28.file.filename, g.attachment_file28.url %></dd>
				<% end %>
				<% if g.attachment_file29?%>
					<dt>设备清单:</dt>
				  <dd><%= link_to g.attachment_file29.file.filename, g.attachment_file29.url %></dd>
				<% end %>
				<% if g.attachment_file30?%>
					<dt>近3、6、12个月税单:</dt>
				  <dd><%= link_to g.attachment_file30.file.filename, g.attachment_file30.url %></dd>
				<% end %>
				<% if g.attachment_file31?%>
					<dt>近3、6、12个月水、电、电话、手机费账单:</dt>
				  <dd><%= link_to g.attachment_file31.file.filename, g.attachment_file31.url %></dd>
				<% end %>
			</fieldset>
		<% end %>
	</dl>
	<% end %>
</div>
