<div class="page-header">
  <h1>步骤1. 初步可行性</h1>
</div>
<div class="row-fluid">
	<div class="span9">
		<%= simple_form_for @custloan, :html => { :class => 'form-horizontal' } do |f| %>
			<%= render 'fields', :f => f %>
			<div class="form-actions">
				<%= f.submit "确认", :class => 'btn btn-primary' %>
				<%= link_to "取消", cust_path(@cust), :class => 'btn' %>
			</div>
		<% end %>
	</div>
	<div class="span3">
		<%= render 'loan_steps/helps/one_helps' %>
	</div>
</div>