<div class="row-fluid">
	<div class="span9">
		<div class="tabbable tabs">
		  <ul class="nav nav-tabs">
		    <li class="active"><a href="#1" data-toggle="tab">1.</a></li>
				<% #if !@custloan.loansteptwos.empty? %>
		    <li><a href="#2" data-toggle="tab">2.</a></li>
				<% #end %>
				<li><a href="#3" data-toggle="tab">3.</a></li>
				<li><a href="#4" data-toggle="tab">4.</a></li>
				<li><a href="#5" data-toggle="tab">5.</a></li>
				<li><a href="#6" data-toggle="tab">6.</a></li>
				<li><a href="#7" data-toggle="tab">7.</a></li>
				<li><a href="#8" data-toggle="tab">8.</a></li>
				<li><a href="#9" data-toggle="tab">9.</a></li>
				<li><a href="#10" data-toggle="tab">10.</a></li>
		  </ul>
		  <div class="tab-content">
		    <div class="tab-pane active" id="1">
					<%= render 'custloans/tabloan1' %>
		    </div>
		    <div class="tab-pane" id="2">
					<%= render 'custloans/tabloan2' %>
		    </div>
		    <div class="tab-pane" id="3">
				
		    </div>
		    <div class="tab-pane" id="4">
				
		    </div>
				<div class="tab-pane" id="5">
				
		    </div>
		  </div>
		</div>
	</div>
	<div class="span3">
		<%= render 'custs/sidebarcust1' %>
	</div>
	<% if user_type(current_user) != 2 && get_dict_by_id(@custloan.status).code == 1 %>
	<legend></legend>
	<form>
	  <fieldset>
		<p class="text-center">
		<% if @current_step == 'ten'  %>
			<%= link_to '修改流程', custloan_loan_step_path(@custloan, :id => @next_step), :class => 'btn btn-large btn-primary' %>
		<% else %>
		  <%= link_to '继续流程', custloan_loan_step_path(@custloan, :id => @next_step), :class => 'btn btn-large btn-primary' %>
		<% end %>	
		</p>
		</fieldset>
	</form>
	<% end %>
</div>