<div>
	<table class="table table-condensed table-striped table-bordered">
		<thead>
			<tr>
				<th colspan="6">
					客户基本信息
					<%= link_to '修改信息', edit_cust_path(@cust), :class => 'btn btn-info btn-small pull-right' %>
				</th>
			</tr>
		</thead>
	  <tbody>
			<tr>
				<td>客户姓名</td>
				<td><%= @cust.fullname %></td>
				<td>公司名称</td>
				<td><%= @cust.company %></td>
				<td>电话号码</td>
				<td><%= @cust.phone %></td>
			</tr>
			<tr>
				<td>公司性质</td>
				<td><%= get_dict_by_id(@cust.custtype).name %></td>
				<td>登录日期</td>
				<td><%= @cust.created_at.to_formatted_s(:db) %></td>
				<td>最近修改日期</td>
				<td><%= @cust.updated_at.to_formatted_s(:db) %></td>
			</tr>
			<tr>
				<td>贷款纪录数</td>
				<td colspan="5"><%= @cust.custloans.count %> 笔</td>
			</tr>
	  </tbody>
	</table>
</div>