<div class="row-fluid">
	<div class="span6">
		<%= f.input :fullname, :label => '客户全称', :required => true %>
	</div>
	<div class="span6">
		<%= f.input :company, :label => '公司名称' %>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
		<%= f.input :birthday, as: :date_picker, :label => '客户生日' %>
	</div>
	<div class="span6">
		<%= f.input :partner_birthday, as: :date_picker, :label => '配偶生日' %>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
		<%= f.input :phone, :label => '联系电话' %>
	</div>
	<div class="span6">
		<%= f.input :workaddress, :label => '办公地址' %>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<%= f.input :custtype, :label => '经营主体性质', :collection => @custtype, :include_blank => false %>
	</div>
</div>