<!-- <div class="page-header">
  <h3>用户设置</h3>
</div> -->
<div class="well">
<p class="lead text-center"><legend><strong>用户设置</strong></legend></p>
	<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
		<% if user_type(current_user) == 3 %>
			<%= render 'admin_fields', :f => f %>
		<% else %>
			<%= render 'fields', :f => f %>
		<% end %>
		<div class="form-actions">
			<%= f.submit "提交", :class => 'btn btn-primary' %>
			<%= link_to '取消', root_path, :class => 'btn' %>
		</div>
	<% end %>
</div>