<%= f.input :cust_id, as: :hidden, :input_html => { value: @cust.id } %>
<%= f.input :current_step, as: :hidden, input_html: { value: 1 } %>
<%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>

<p class="lead text-center"><legend><strong>客户基本信息</strong></legend></p>
<%= f.input :cust_name, :label => "姓名" %>
<%= f.input :loan_cust_name, :label => "借款人或实际控制人" %>
<%= f.input :company_name, :label => "企业名称" %>
<%= f.input :mobile, :label => "手机" %>
<%= f.input :company_address, :label => "办公地址" %>
<%= f.input :home_address, :label => "家庭住址" %>
<%= f.input :financial_manager, :label => "财务负责人" %>
<%= f.input :financial_phone, :label => "电话" %>
<%= f.input :financial_mobile, :label => "手机" %>