<%= f.input :cust_id, as: :hidden, value: @cust %>
<%= f.input :current_step, as: :hidden, input_html: { value: 1 } %>
<%= f.input :status, as: :hidden, input_html: { value: get_dict('loanStatus', 1).id } %>
<%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>

<fieldset>
	<p class="lead"><legend><strong>基本信息</strong></legend></p>
	<%= f.simple_fields_for :loanstepones do |p| %>
	<%= p.input :cust_id, as: :hidden, value: @cust %>
	<%= p.input :companyname, :input_html => { :class => "span4" }, :label => '公司名称' %>
	<%= p.input :companyaddress, :input_html => { :class => "span6" }, :label => '办公地址' %>
	<%= p.input :custname, :label => '客户姓名' %>
	<%= p.input :phone, :label => '联系电话' %>
	<%= p.input :request_amont, :label => '要求贷款金额（万元）' %>	
	<%= p.input :request_interest, :label => '要求贷款利率（年）', :wrapper => :append do %>
		<%= p.input_field :request_interest %><span class="add-on">%</span>
	<% end %>
	<%= p.input :special_request, :input_html => { :class => "span4" }, :label => '有无特殊要求' %>
	<%= p.input :request_date, :as => :date_picker, :label => '要求放款时间' %>
	<%= p.input :current_loan_status, :as => :text, :label => '当前负债情况',
	 						:input_html => { :class => "input-xlarge", :rows => '6' } %>
</fieldset>

<fieldset>
	<p class="lead"><legend><strong>抵押物信息</strong></legend></p>
	<br/>
	<%= f.simple_fields_for :loansteponeguarantees do |builder| %>
    <%= render 'loansteponeguarantee_fields', f: builder %>
  <% end %>
		<%= link_to_add_fields "新增", f, :loansteponeguarantees %>
</fieldset>

<fieldset>
	<p class="lead"><legend><strong>财务状况</strong></legend></p>
	<%= p.input :stream_status, :as => :text, :label => '流水情况（个人）',
	 						:input_html => { :class => "input-xlarge", :rows => '6' } %>
	<%= p.input :stream_status_company, :as => :text, :label => '流水情况（公司）',
							:input_html => { :class => "input-xlarge", :rows => '6' } %>
	<%= p.input :stream_status_other, :as => :text, :label => '流水情况（其他）',
							:input_html => { :class => "input-xlarge", :rows => '6' } %>
	<%= p.input :cust_request_type, :label => '客户需求点' %>
	<%= p.input :custtype,:collection => @custtype, :label => '经营主体性质', :include_blank => false %>
	<%= p.input :invoice_status, :label => '开票状况', :input_html => { :class => "span5" } %>
	<%= p.input :tex_status, :label => '纳税状况', :input_html => { :class => "span5" } %>
</fieldset>

<fieldset>
	<p class="lead"><legend><strong>资产信息</strong></legend></p>
	<br/>
	<%= f.simple_fields_for :loansteponeassets do |builder| %>
    <%= render 'loansteponeasset_fields', f: builder %>
  <% end %>
	<!-- <div class="btn"> -->
		<%= link_to_add_fields "新增", f, :loansteponeassets %>
	<!-- </div> -->
</fieldset>
<% end %>