<%= f.input :current_step, as: :hidden, input_html: { value: 7 } %>

<%= f.simple_fields_for :loanstepsevenadditionals do |p| %>
<p class="lead"><legend><strong>其他个人银行账户</strong></legend></p>
	<%= p.input :cust_id, as: :hidden, input_html: { value: @cust.id } %>
	<%= p.input :account_name, :label => '姓名' %>
	<%= p.input :bank, :collection => get_dict_by_type('custBank'), :label => '开户行' %>
	<%= p.input :account_code, :label => '卡号' %>
	<%= p.input :open_date, as: :date_picker, :label => '完成开户日期' %>
	
	<%= p.input :attachment_file1, as: :file, :label => '个人身份证', :hint => 
	 if !@custloan.loanstepsevenadditionals.first.attachment_file1.to_s.blank? 
			link_to @custloan.loanstepsevenadditionals.first[:attachment_file1], 
							@custloan.loanstepsevenadditionals.first.attachment_file1.url 
	 end %>
<% end %>