<%= f.input :current_step, as: :hidden, input_html: { value: 2 } %>
<%= f.simple_fields_for :loansteptwos do |p| %>
	<%= p.input :cust_id, as: :hidden, input_html: { value: @cust.id } %>
	<div class="mini-layout">
		<legend>个人</legend>
		<%= p.input :attachment_file1, as: :file, :label => '本人配偶身份证复印件', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file1.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file1], 
								@custloan.loansteptwos.first.attachment_file1.url 
		 end %>
		<%= p.input :attachment_file2, as: :file, :label => '结婚证', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file2.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file2], 
								@custloan.loansteptwos.first.attachment_file2.url 
		 end %>
		<%= p.input :attachment_file3, as: :file, :label => '户口本（起始页到最后一页）', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file3.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file3], 
								@custloan.loansteptwos.first.attachment_file3.url 
		 end %>
		<%= p.input :attachment_file4, as: :file, :label => '车辆行驶证复印件（如有）', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file4.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file4], 
								@custloan.loansteptwos.first.attachment_file4.url 
		 end %>
		<%= p.input :attachment_file5, as: :file, :label => '房产证复印件', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file5.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file5], 
								@custloan.loansteptwos.first.attachment_file5.url 
		 end %>
		<%= p.input :attachment_file6, as: :file, :label => '个人简历', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file6.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file6], 
								@custloan.loansteptwos.first.attachment_file6.url 
		 end %>
		<%= p.input :attachment_file7, as: :file, :label => '学历证明', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file7.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file7], 
								@custloan.loansteptwos.first.attachment_file7.url 
		 end %>
		<%= p.input :attachment_file8, as: :file, :label => '担保人及其配偶身份证、户口本、结婚证', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file8.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file8], 
								@custloan.loansteptwos.first.attachment_file8.url 
		 end %>
		<%= p.input :attachment_file9, as: :file, :label => '担保人房产证复印件', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file9.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file9], 
								@custloan.loansteptwos.first.attachment_file9.url 
		 end %>
		<%= p.input :attachment_file10, as: :file, :label => '担保人车辆行驶证', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file10.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file10], 
								@custloan.loansteptwos.first.attachment_file10.url 
		 end %>
	</div>
	
	<div class="mini-layout">
		<legend>公司</legend>
		<%= p.input :attachment_file11, as: :file, :label => '营业执照', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file11.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file11], 
								@custloan.loansteptwos.first.attachment_file11.url 
		 end %>
		<%= p.input :attachment_file12, as: :file, :label => '税务登记证', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file12.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file12], 
								@custloan.loansteptwos.first.attachment_file12.url 
		 end %>
		<%= p.input :attachment_file13, as: :file, :label => '公司章程', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file13.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file13], 
								@custloan.loansteptwos.first.attachment_file13.url 
		 end %>
		<%= p.input :attachment_file14, as: :file, :label => '验资报告', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file14.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file14], 
								@custloan.loansteptwos.first.attachment_file14.url 
		 end %>
		<%= p.input :attachment_file15, as: :file, :label => '组织机构代码证', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file15.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file15], 
								@custloan.loansteptwos.first.attachment_file15.url 
		 end %>
		<%= p.input :attachment_file16, as: :file, :label => '开户许可证', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file16.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file16], 
								@custloan.loansteptwos.first.attachment_file16.url 
		 end %>
		<%= p.input :attachment_file17, as: :file, :label => '挂名公司名下的房产', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file17.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file17], 
								@custloan.loansteptwos.first.attachment_file17.url 
		 end %>
		<%= p.input :attachment_file18, as: :file, :label => '挂名公司名下的车辆', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file18.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file18], 
								@custloan.loansteptwos.first.attachment_file18.url 
		 end %>
		<%= p.input :attachment_file19, as: :file, :label => '贷款卡', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file19.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file19], 
								@custloan.loansteptwos.first.attachment_file19.url 
		 end %>
		<%= p.input :attachment_file20, as: :file, :label => '担保人公司营业执照、税务登记证、组织机构代码证（正副本）、开户许可证', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file20.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file20], 
								@custloan.loansteptwos.first.attachment_file20.url 
		 end %>
		<%= p.input :attachment_file21, as: :file, :label => '担保人公司章程喝营业执照（复印件）', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file21.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file21], 
								@custloan.loansteptwos.first.attachment_file21.url 
		 end %>
	</div>
	
	<div class="mini-layout">
		<legend>财务</legend>
		<%= p.input :attachment_file22, as: :file, :label => '近3、6、12个月银行对账单', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file22.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file22], 
								@custloan.loansteptwos.first.attachment_file22.url 
		 end %>
		<%= p.input :attachment_file23, as: :file, :label => '近3、6个月的财务报表及近3年度年报', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file23.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file23], 
								@custloan.loansteptwos.first.attachment_file23.url 
		 end %>
		<%= p.input :attachment_file24, as: :file, :label => '营业场所租赁合同及已付款凭证', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file24.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file24], 
								@custloan.loansteptwos.first.attachment_file24.url 
		 end %>
		<%= p.input :attachment_file25, as: :file, :label => '近3、6、12个月进、销货单', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file25.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file25], 
								@custloan.loansteptwos.first.attachment_file25.url 
		 end %>
		<%= p.input :attachment_file26, as: :file, :label => '本年度进、销货合同或协议', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file26.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file26], 
								@custloan.loansteptwos.first.attachment_file26.url 
		 end %>
		<%= p.input :attachment_file27, as: :file, :label => '近3个月员工工资表', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file27.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file27], 
								@custloan.loansteptwos.first.attachment_file27.url 
		 end %>
		<%= p.input :attachment_file28, as: :file, :label => '最近1个月存货清单', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file28.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file28], 
								@custloan.loansteptwos.first.attachment_file28.url 
		 end %>
		<%= p.input :attachment_file29, as: :file, :label => '设备清单', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file29.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file29], 
								@custloan.loansteptwos.first.attachment_file29.url 
		 end %>
		<%= p.input :attachment_file30, as: :file, :label => '近3、6、12个月税单', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file30.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file30], 
								@custloan.loansteptwos.first.attachment_file30.url 
		 end %>
		<%= p.input :attachment_file31, as: :file, :label => '近3、6、12个月水、电、电话、手机费账单', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file31.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file31], 
								@custloan.loansteptwos.first.attachment_file31.url 
		 end %>
		<%= p.input :attachment_file32, as: :file, :label => '担保人近6个月的银行对帐单', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file32.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file32], 
								@custloan.loansteptwos.first.attachment_file32.url 
		 end %>
		<%= p.input :attachment_file33, as: :file, :label => '担保人企业近2年的完税证明', :hint => 
		 if !@custloan.loansteptwos.first.attachment_file33.to_s.blank? 
				link_to @custloan.loansteptwos.first[:attachment_file33], 
								@custloan.loansteptwos.first.attachment_file33.url 
		 end %>
	</div>
<% end %>