<!-- <div class="page-header">
  <h3>步骤8. 选择抵押形式</h3>
</div> -->
<div class="row-fluid">
	<div class="span9">
		<div class="well">
			<!-- <p class="lead text-center"><legend><strong>现场尽职调查</strong></legend></p> -->
				<%= simple_form_for @custloan,:url => wizard_path, :method => :put, :html => { :class => 'form-horizontal' } do |f| %>
					<% if @custloan.guarantee_type == get_dict("guaranteeType", 1).id %>
				  	<%= render 'eight_fields', :f => f %>
				  <% end %>
	
					<% if @custloan.guarantee_type == get_dict("guaranteeType", 2).id %>
						<%= render 'eight_two_3_fields', :f => f %>
					<% end %>
	
					<% if @custloan.guarantee_type == get_dict("guaranteeType", 3).id %>
					<%= link_to('新增担保人', add_new_custloan_loan_step_path(@custloan), :class => "btn") %>
						<%= render 'eight_two_4_fields', :f => f %>
					<% end %>
	
					<div class="form-actions">
						<% if @custloan.loanstepsevenadditionals.any? %>
						<%= link_to '上一步', previous_wizard_path, :class => 'btn' %>
						<% else %>
						<%= link_to '上一步', wizard_path(:seven_two), :class => 'btn' %>
						<% end %>
						<%= f.submit '下一步', :class => 'btn btn-primary' %>
					</div>
				<% end %>
			</div>
		</div>
		<div class="span3">
			<%= render 'loan_steps/helps/eight_helps' %>
		</div>
	</div>
</div>