<div class="page-header">
  <h1>步骤7. 开户</h1>
</div>
<%= simple_form_for @custloan,:url => wizard_path, :method => :put, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
		<% if steptype(@custloan.loanstepsevens.first.id) == 1 %>
			<%= render 'seven_two_1_fields', :f => f %>
		<% end %>
		<% if steptype(@custloan.loanstepsevens.first.id) == 2 %>
			<%= render 'seven_two_2_fields', :f => f %>
		<% end %>
		<% if steptype(@custloan.loanstepsevens.first.id) == 3 %>
			<%= render 'seven_two_3_fields', :f => f %>
		<% end %>
	<div class="form-actions">
		<%= link_to '上一步', previous_wizard_path, :class => 'btn' %>
		<%= f.submit '下一步', :class => 'btn btn-primary' %>
	</div>
  </fieldset>
<% end %>